* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


button {
    font-size: medium;
    padding: 15px 25px;
    border-radius: 8px;
}



/* Header and navbar */

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-size: 25px;
    padding: 0 10px;
}

.logo-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ADC178;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6C584C;
    color: #F0EAD2;
}

span {
    color:#ADC178;
}

.nav-links {
    display: flex;
    gap: 25px;
    margin: 0;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links li {
    list-style: none;
    padding: 1rem;
}

.nav-links li a {
    color: #F0EAD2;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #57473d;
}


/* Welcome section */

.top-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    justify-content: center;
    background-color: #6C584C;
    color: #F0EAD2;
}

.top-div {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 70%;
}

.top-div button {
    border: none;
    color:  #F0EAD2;
    background-color: #A98467;
    width: 40%;
    margin-top: 10px;
}

.top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 40%;
}

.main-img {
    max-width: 600px;
    max-height: 100%;
    border: 5px solid #A98467;
    border-radius: 7px;
}


/* Information section */

.info-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #F0EAD2;
}

.info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    padding: 10px;
    color: #504137;
    min-width: 1000px;
}

.info-title {
    padding-bottom: 40px;
}

.info-boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    width: 100%;
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info-box img {
    border: 3px solid #A98467;
    border-radius: 3px;
    margin-bottom: 5px;
    width:  200px;
    height: 200px;
    object-fit: cover;
}




/* Inspiring quote section */

.quote-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #DDE5B6;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    color: #6C584C;
}

blockquote {
    font-style: italic;
    font-size: large;
}

.quote-name {
    align-self: flex-end;
}




/* Sign up section */

.sign-up-section {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #F0EAD2;
}

.sign-up-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    padding: 40px;
    background-color: #6C584C;
    color: #F0EAD2;
    border-radius: 7px;
    min-width: 1000px;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
}

.sign-up-box button {
    background-color: #6C584C;
    color:#F0EAD2;
    border: 3px solid #F0EAD2;
    align-self: center;
}



/* Footer */

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #6C584C;
    color: #F0EAD2;
    padding: 30px;
}